.homepage-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}
.homepage-slider-image {
    margin: 10px;
}
.homepage-slider-quote {
    background-color: blue;
    padding: 40px;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 55%;
    right: 33.5%;
}