:root {
	--bg: white;
	--bg-accent: gray;
	--txt-color: black;
	--nav-size: 0vh;
	--border: 1px solid teal;
	--border-radius: 8px;
	--speed: 500ms;
}
@font-face {
	font-family: "Oregon";
	src: url("../../Fonts/Oregon_LDO/Oregon_LDO.ttf");
}
.header-nav {
	position: fixed;
	top: 0;
	z-index: 11;
	width: 100%;
}

.main-nav {
	font-weight: 700;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--bg);
	font-family: "Oregon";
}
.logo img {
	width: 300px;
}
.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.nav-item {
	text-decoration: none;
	color: var(--txt-color);
	opacity: 0.4;
	font-size: 1rem;
	text-transform: uppercase;
	transition: filter 300ms;
	padding: 15px;
}
.active {
	opacity: 1;
}

.nav-item:hover {
  text-decoration: none;
  color: purple;
  opacity: 1;
}

.nav-signin {
	position: absolute;
	right: 2%;
	top: 2%;
}

/* --------------------------------------- */
/* Mobile Responsive */
.dropdown-nav {
  display: none;
}
.hamburger3 {
  display: none;
  z-index: 10000;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 70px;
  right: 15px;
}
.hamburger3:hover {
  color: #40bff8;
}
.checker {
  display: none;
}
.dropdown-sidebar {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 124px;
  right: 0;
  overflow: auto;
  z-index: 0;
  background-color: white;
  -webkit-box-shadow: -5px 12px 10px 0px rgba(0, 0, 0, 0.22);
  box-shadow: -5px 12px 12px 0px rgba(0, 0, 0, 0.22);
  height: 100%;
}
@media only screen and (max-width: 1200px) {
  .main-nav {
    display: none !important;
  }
  .dropdown-nav {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 10px;
  }
  .dropdown-sidebar {
    display: flex;
  }
  .hamburger3 {
    display: block;
  }
  #bar-checker2:not(:checked) ~ .dropdown-sidebar {
    transform: translateX(350px);
  }
  #bar-checker2:checked ~ .dropdown-sidebar {
    transform: translateX(0px);
  }
}
@media only screen and (max-width: 500px) {
  .logo img {
    width: 14rem;
  }
}
