@font-face {
    font-family: "NewYork";
    src: url("../../Fonts/newyork/newyork.woff");
    }
.carousel.slide{
    margin-top: 125px;
}
.carousel-caption {
    bottom: -10% !important;
    left: 30% !important;
    width: 90% !important;
}
.carousel-caption p {
    font-family: 'NewYork';
    font-size: larger;
}

.carousel-caption h3 {
    font-family: 'NewYork';
    text-transform: uppercase;
    font-size: 3rem;
}
@media only screen and (max-width: 1200px) {
    .carousel-caption h3{
        font-size: 30px;
    }
    .carousel-caption p{
        font-size: 18px;
    }
}
@media only screen and (max-width: 800px) {
    .carousel-caption h3{
        font-size: 20px;
        margin: 0;
    }
    .carousel-caption p{
        font-size: 15px;
        margin: 0;
    }
}
@media only screen and (max-width: 600px) {
    .carousel-caption h3{
        font-size: 18px;
    }
    .carousel-caption p{
        font-size: 12px;
    }
}
@media only screen and (max-width: 500px) {
    .carousel-caption h3{
        font-size: 15px;
    }
    .carousel-caption p{
        font-size: 12px;
    }
}
@media only screen and (max-width: 450px) {
    .carousel-caption div{
        padding: 5px;
    }
    .carousel-caption h3{
        font-size: 12px;
    }
    .carousel-caption p{
        font-size: 12px;
    }
}