@font-face {
  font-family: "NewYork";
  src: url("../../Fonts/newyork/newyork.woff");
}

@font-face {
  font-family: "Oregon";
  src: url("../../Fonts/Oregon_LDO/Oregon_LDO.ttf");
}

.blog-card-header {
  font-family: "NewYork";
  font-size: 2rem;
  padding-top: 10%;
}
.blog-container {
  display: grid;
  grid-template-columns: 75% 25%;
  margin-top: 0px;
  border-top: 1px solid black;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}
.blog-card {
  padding: 20px 20px 20px 0px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  display: flex;
  justify-content: flex-end;
  width: 100%;

}

.blog-content {
  padding: 0;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.blog-img{
  width: 100%;
  object-fit: cover;
  max-height: 600px;
  height: 100%;
}
.category-title {
  font-family: "NewYork";
  font-size: 1.3rem;
  text-align: center;
  padding-top: 6%;
  letter-spacing: 0.2rem;
  margin-top: 6rem;
}

.sc-gkdzZj a,
.blog-card-wrapper a {
  color: #000 !important;
  padding-top: 4% !important;
}

.blog-card-wrapper span {
  color: gray !important;
}

.blog-card-wrapper p {
  padding-top: 10%;
}
@media only screen and (max-width: 1000px) {
  .side-div{
    display: none;
  }
  .blog-container {
    grid-template-columns: 1fr;
  }
  .blog-card{
    padding: 20px;
  }
}