.rdw-editor-toolbar {
	position: absolute !important;
	/* padding: 0 25%; */
	top: -15%;
	left: 10%;
	right: 10%;
	/* width: 100%; */
	text-align: center;
	z-index: 999;
}

.rdw-editor-main {
	position: relative !important;
	border: 1px solid black;
}

/* #blog-form .row {
	border: 1px solid black;
} */

#blog-form label {
	display: flex;
}

#blog-form .editor-container {
	position: relative;
}

/* #blog-form {
	border: 1px solid grey;
} */

#blog-form form {
	margin: auto;
	width: 90%;
}

#blog-form input {
	display: block;
}

@screen (max-width: 500px) {
	#blog-form {
		margin-top: 5% !important;
	}
}
