.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

.App {
  max-width: 1430px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: 00 35px #eee;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@import url("./Components/Headers/Header.css");

@import url("./Components/MainShopPages/Products/Products.css");

@import url("./Components/MainShopPages//DetailProduct/DetailProduct.css");

@import url("./Components/MainShopPages/Auth/Login.css");

@import url("./Components//MainShopPages/Cart/Cart.css");